@media screen and (max-width: 992px) {
  .favs {
    margin-right: 15rem;
  }

  [aria-controls='navbarDropdown'] {
    display: block;
  }

  [aria-expanded='false'] ~ ul {
    display: none;
  }

  [aria-expanded='true'] ~ ul {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 7rem;
    width: 100%;
    text-align: right;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.7),
      var(--color-grey-dark-1)
    );
    padding-right: 6%;
    padding-top: 1rem;
    height: auto;
  }

  [aria-expanded='true'] ~ ul li {
    padding-bottom: 1rem;
  }

  [aria-expanded='true'] ~ ul li a {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .navbar-toggler {
    top: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .modal-recipe {
    display: flex;
    flex-direction: column;
  }
  .modal-recipe-fig {
    width: 90%;
  }
  .modal-recipe-details {
    grid-template-columns: 1.4fr 1.4fr 1fr;
  }
  .modal-recipe-title {
    z-index: 1;
    margin-bottom: -4rem;
    width: 70%;
  }
}

@media screen and (max-width: 640px) {
  nav {
    height: 10rem;
  }
  [aria-expanded='true'] ~ ul {
    top: 10rem;
  }
  .filter-section {
    top: 10rem;
  }
  .search-results {
    margin-top: 12rem;
  }
  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
  }
  .logo {
    align-self: center;
  }
  .navbar-toggler {
    top: 6.3rem;
  }
  .favs {
    margin-right: 0;
    margin-left: 2rem;
  }
}

@media screen and (max-width: 430px) {
  .modal-container {
    max-height: 90vh;
    top: 5%;
    left: 5%;
    right: 5%;
  }
  .navbar-toggler {
    top: 6.4rem;
  }
  nav {
    height: 10.2rem;
  }
  [aria-expanded='true'] ~ ul {
    top: 10.2rem;
  }
  .filter-section {
    top: 10.2rem;
  }
  .search-results {
    margin-top: 12.2rem;
  }
  .favs {
    padding: 0.5rem 1rem;
  }
}
