@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
:root {
  --color-primary: #087f5b;
  --color-grad-1: #ebfbee;
  --color-grad-light: #b2f2bb;
  --color-grad-dark: #37b24d;
  --color-fav: #ed5f78;
  --color-grey-light-1: #f9f5f3; /* Light background */
  --color-grey-light-2: #f2efee; /* Light lines */
  --color-grey-light-3: #d3c7c3; /* Light text (placeholder)*/
  --color-grey-dark-1: #3e4444; /* Normal text*/
  --color-grey-dark-2: #918581; /* Lighter text*/
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #24252a;
}

/* ******************** */
/* LOADING SPINNER */
/* ******************** */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loading::after {
  content: '';
  width: 5rem;
  height: 5rem;
  border: 1rem solid var(--color-grey-light-3);
  border-top-color: var(--color-primary);
  border-radius: 50%;
  transform: rotate(0.16turn);
  animation: loading 1s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
/* ******************** */
/* NAV BAR */
/* ******************** */
nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: 'Montserrat', sans-serif;
  padding: 1.5%;
  height: 7rem;
  background-color: var(--color-grey-dark-1);
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-bar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 2.4rem;
  color: #fff;
  margin-right: 1rem;
}
.navbar-toggler {
  position: absolute;
  right: 5%;
  top: 2.7rem;
  outline: none;
  border: 1px solid var(--color-grey-dark-1);
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  text-align: center;
  background-color: var(--color-grey-dark-1);
}

.navbar-toggler span {
  font-size: 2rem;
  cursor: pointer;
  pointer-events: none;
}

[aria-controls='navbarDropdown'] {
  display: none;
}
.favs {
  font-family: 'Dancing Script', cursive, 'Lucida Sans', 'Lucida Sans Regular',
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #fff;
  font-size: 2.2rem;
  cursor: pointer;
  padding: 1rem;
}
.favs span {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-links {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links li {
  list-style: none;
}

.top-links {
  display: inline-block;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

#nav-toggle {
  position: absolute;
  top: -10rem;
}

.icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
.icon-burger .line {
  width: 3rem;
  height: 0.5rem;
  background-color: #fff;
  margin: 0.5rem;
  border-radius: 0.3rem;
  transition: all 0.3s ease-in-out;
}

.favs.active,
.favs:hover,
.top-links.active,
.top-links:hover {
  background-color: #51cf66;
  border-radius: 1rem;
}
/* ******************** */
/* Filter Section */
/* ******************** */
.filter-section {
  margin: 0 1rem 1rem;
  position: sticky;
  z-index: 1;
  left: 0;
  right: 0;
  top: 7rem;
  border-bottom: 2px solid var(--color-grey-light-3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}
.filter-links-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  padding: 1rem 0;
}
.filter-links {
  list-style: none;
  border: 0.1rem solid var(--color-grey-light-3);
  padding: 1rem;
  margin: 0 1rem;
  float: left;
  font-size: 1.4rem;
  border-radius: 3.5rem;
}
.filter-links a {
  color: inherit;
  text-decoration: none;
}

.filter-links.active {
  background: linear-gradient(
    45deg,
    var(--color-grad-1),
    var(--color-grad-dark)
  );
}

.filter-links.active a {
  color: white;
  font-weight: bold;
}

/* ******************** */
/* RECIPE SEARCH RESULTS DISPLAY CARD AND CONTAINER */
/* ******************** */

/* Recipe Cards Container */
.search-results {
  display: grid;
  margin: 8rem 2rem 1rem;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  column-gap: 1rem;
  row-gap: 2.5rem;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Recipe Card */
.recipe-display-box {
  margin: 0 auto 0;
  height: 21rem;
  width: 19rem;
  border-radius: 1rem;
  perspective: 1000px;
}
.recipe-inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.recipe-inner.is-flipped {
  transform: rotateY(180deg);
}

.recipe-card {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}
.recipe-card.active {
  box-shadow: 0px 3px 18px 3px var(--color-fav);
}

.recipe-card-front {
  background-image: linear-gradient(
    to bottom right,
    var(--color-grad-1),
    var(--color-grad-light)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe-fig {
  height: 100%;
  width: 100%;
  position: relative;
  /* transform: scale(1.04) translateY(-1px); */
  transform-origin: top;
  box-shadow: 0 4px 21px -12px rgb(0 0 0 / 79%);
  border-radius: 10%;
}

.recipe-fig::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, #ebfbee, #ced4da);
  opacity: 0.3;
  border-radius: 10%;
}

.recipe-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
}
.recipe-title {
  position: absolute;
  bottom: 13%;
  left: 30%;
  transform: translate(-50%, 20%) skewY(-6deg);
  color: #fff;
  font-weight: 700;
  font-size: 1.75rem;
  text-transform: uppercase;
  width: 50%;
  line-height: 1.5;
  text-align: center;
}
.recipe-title span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(to right bottom, #ebfbee, #37b24d);
}

.recipe-card-back {
  background-color: #f3f3f3;
  transform: rotateY(180deg);
}

.recipe-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-header {
  position: relative;
  padding-top: 0.5rem;
  min-height: 50%;
}

.recipe-header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to bottom left,
    var(--color-grad-1) 10%,
    var(--color-grad-light) 115%
  );
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}

.recipe-img-back {
  display: block;
  width: 8rem;
  height: 8rem;
  margin: 0 auto 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  border: 0.4rem solid #fff;
  object-fit: cover;
}

.recipe-header h2 {
  padding-bottom: 1rem;
  color: #212121;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.recipe-body {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  margin: auto;
}

.recipe-body p {
  color: #212121;
  font-size: 1.2rem;
  line-height: 1.4;
}

/* ******************** */
/* RECIPE MODAL WINDOW */
/* ******************** */
/* Added/removed from myFavs alert */
.alert {
  z-index: 101;
  background: var(--color-grad-light);
  padding: 20px 40px;
  width: fit-content;
  position: fixed;
  left: 0;
  top: 60%;
  border-radius: 4px;
  border-left: 8px solid var(--color-primary);
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}
.alert.showAlert {
  opacity: 1;
  pointer-events: auto;
}
.alert.show {
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
  0% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(+10%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(10px);
  }
}
.alert.hide {
  animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
  0% {
    transform: translateX(10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.alert .heart-msg {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
}
.alert .heart-msg.removed {
  color: var(--color-primary);
}
.alert .heart-msg.added {
  color: var(--color-fav);
}
.alert .msg {
  padding: 0 20px;
  font-size: 18px;
  color: var(--color-primary);
}

.overlay {
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  background-attachment: fixed;
}

.hide-body-scroll {
  overflow: hidden;
}

.modal-container {
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  padding: 1rem;
  transition: all 0.35s ease-in;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  background: #f9f5f3;
  max-height: 80vh;
  overflow-y: auto;
}

.modal-recipe .fa-times {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 3.5rem;
  transition: all 0.5s ease-in;
}

.modal-recipe .fa-times:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.is-visible {
  visibility: visible;
  opacity: 1;
}
/* Inside Modal - Recipe Part */
.modal-recipe {
  position: relative;
  display: grid;
  row-gap: 2rem;
  grid-template-columns: 1fr 1.6fr;
  align-items: center;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  grid-column: 1/2;
}
.modal-recipe-fig {
  width: 100%;
  position: relative;
  transform-origin: top;
}

.modal-recipe-fig::before {
  content: '';
  display: block;
  /* height: 100%; */
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, #ebfbee, #ced4da);
  opacity: 0.6;
}

.modal-recipe-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

.modal-recipe-title {
  padding-bottom: 2rem;
  transform: translate(0%, 20%) skewY(-6deg);
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 1.95;
  text-align: center;
  grid-column: 1/2;
}
.modal-recipe-title span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0.7rem 0.7rem;
  background-image: linear-gradient(
    to right bottom,
    var(--color-grad-1),
    var(--color-grad-dark)
  );
}
.modal-recipe-details {
  display: grid;
  grid-template-columns: 1.2fr 1.2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  padding: 1rem 1rem 0;
}

.modal-recipe-info {
  font-size: 1.5rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

/* .modal-recipe-info:not(:last-child) {
  margin-right: 3.5rem;
} */

.modal-recipe-info-icon {
  color: var(--color-grad-dark);
  margin-right: 1rem;
}

.modal-recipe-info-data {
  margin-right: 0.5rem;
  font-weight: 700;
}

.bookmark-icon {
  grid-column: 3/4;
  grid-row: 1/3;
  place-self: center;
  background-color: var(--color-grad-dark);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 4rem;
  width: 4rem;
  transition: all 0.2s;
  font-size: 2.5rem;
  color: #fff;
}
.bookmark-icon.active {
  background-color: #fff;
  color: var(--color-fav);
  border: 1px solid var(--color-grad-dark);
}
.heart {
  padding-top: 0.4rem;
}

.right-side {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/3;
}

.modal-heading {
  font-size: 1.8rem;
  font-weight: 600;
  color: #f59a83;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  text-align: center;
  transform: skewY(-3deg);
}

.modal-recipe-directions-text {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: justify;
  width: 95%;
  margin-bottom: 1rem;
  color: #968b87;
}
.recipe-by {
  font-weight: 700;
}
.btn-small,
.btn-small:link,
.btn-small:visited {
  font-size: 1.3rem;
  padding: 1rem 1.75rem;
  text-decoration: none;
  background-color: var(--color-grad-dark);
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: all 0.2s;
}
.search-icon {
  height: 1.5rem;
  width: 1.5rem;
  padding-top: 0.2rem;
}

/* MODAL Animation */
[data-animation='zoomInOut'].modal-container {
  transform: scale(0.2);
}

[data-animation='zoomInOut'].modal-container.is-visible {
  transform: none;
}
/* ******************** */
/* SORT SWITCHER */
/* ******************** */
.sort-panel {
  position: fixed;
  right: 0;
  top: 25%;
  z-index: 100;
  transition: 0.4s;
  transform: translateX(100%);
}

.sort-body {
  background-color: var(--color-primary);
  border: transparent;
  max-width: 20rem;
  padding: 15px 13px;
  text-align: center;
  border-bottom-left-radius: 25px;
  position: relative;
}

.sort-body > span {
  color: white;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.09px;
  line-height: 26px;
  padding-bottom: 8px;
  display: inline-flex;
}

.sort-body .btn-group {
  box-shadow: 0 12px 34px rgb(22 28 45 / 20%);
  border-radius: 33px;
  background-color: white;
  overflow: hidden;
  display: flex;
  max-width: 18rem;
}

.sort-body .btn-group .switcher-btn {
  background: transparent;
  border: none;
  width: 50%;
  font-size: 1.1rem;
  font-weight: 700;
  height: 4.2rem;
  padding-left: 0.5rem;
  padding-right: 2rem;
  text-transform: uppercase;
}

.sort-body .btn-group .switcher-btn.active {
  background-color: #ced4e7;
}

.sort-body .sort-tab {
  position: absolute;
  padding: 3rem 1rem;
  top: 0;
  transform: translateX(-100%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 50px;
  border: 0;
  background: var(--color-primary);
  color: white;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  left: 1px;
}

.sort-tab p {
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
  font-size: 1rem;
  padding-right: 0.2rem;
}
.sort-tab i {
  font-size: 1rem;
  transition: 0.4s;
  pointer-events: none;
}

.sort-panel.open .sort-tab i {
  transform: scaleX(-1);
}

.sort-panel.open {
  transform: translateX(0);
}

/* ******************** */
/* PAGINATION */
/* ******************** */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 2rem;
}

.btn-icon {
  cursor: pointer;
  background: var(--color-primary);
  border-radius: 50%;
  display: flex;
  place-content: center;
  place-items: center;
  font-size: 2.8rem;
  height: 1.6rem;
  width: 1.6rem;
  color: #fff;
}

.btn-icon:hover {
  color: var(--color-primary);
  background: #fff;
}
.page-link:link,
.page-link:visited {
  font-size: 1.4rem;
  color: #343a40;
  text-decoration: none;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-link:hover,
.page-link:active,
.page-link.active {
  background-color: var(--color-primary);
  color: #fff;
}
